.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 99;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper svg#logo {
  display: block;
  width: 50vw;
  user-select: none;
}

.loading {
  transform: scale(0.1);
  opacity: 0;
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 67px;
  width: 15px;
}

.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  animation: bounce1 500ms alternate infinite ease;
}

@keyframes bounce1 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
