.background_image_layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.header_container {
  /* align-items: center; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100vh;
  transform-origin: top;
  background: #333333;
  z-index: 1;
}

.header_background_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scale(1.1);
}
