@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
}

.button {
  font-size: 14px;
  border-radius: 7.8px;
  border: solid 1px;
  padding: 3px 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s linear;
  text-transform: capitalize;
}

.button:hover,
.button:focus {
  opacity: 0.7;
  transform: scale(1.1);
}

.project-card .overlay {
  transform: scale(0.1);
}

.project-card:hover .overlay {
  transform: scale(1);
  opacity: 1;
}

.highlight_green {
  background-color: rgb(76 175 80 / 20%);
}

.highlight_blue {
  background-color: rgb(33 150 243 / 20%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #333 !important;
  padding: 25px;
  border-radius: 50px;
  background-color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border-color: #fbae17 !important;
  opacity: 1 !important;
}

.image-gallery-thumbnail {
  opacity: 0.6;
  transition: all 0.3s ease;
  border-radius: 5px;
  border-width: 2px !important;
}

.image-gallery-icon:hover {
  color: #fbae17 !important;
}

.image-gallery-right-nav .image-gallery-svg,
.image-gallery-left-nav .image-gallery-svg {
  width: 50px;
  height: 50px;
}

.image-gallery {
  width: 100% !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: 100% !important;
  height: 100% !important;

  object-fit: contain !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  width: 100% !important;
  height: 100% !important;
}

.image-gallery-thumbnail {
  width: 70px !important;
  height: 70px !important;
  overflow: hidden !important;
}
